* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #24edd9;
}

.main {
    min-width: 300px;
    height: 60vh;
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
    border-radius: .5em;
}

.header-txt {
    text-align: center;
    font-size: 1.5rem;
    text-transform: capitalize;
}